.hamburger-icon-wrapper {
height: 46px;
width: 26px;
cursor: pointer;
-webkit-transform: translateY(-15px);
transform: translateY(-15px);
z-index: 10;
position:relative;
right: 0;
left:-10px;
top:10px;
}
.hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
content: '';
position: absolute;
height: 3px;
width: 26px;
background: #000;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease }
.hamburger-icon        { top: 1.75em  }
.hamburger-icon:before { top: -0.4em }
.hamburger-icon:after  { top: 0.4em  }
.hamburger-active .hamburger-icon { background: transparent; -webkit-transform: rotate(-135deg); transform: rotate(-135deg) }
.hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after { top: 0 }
.hamburger-active .hamburger-icon:before { -webkit-transform: rotate(90deg); transform: rotate(90deg) }
.hamburger-active .hamburger-icon, .hamburger-active .hamburger-icon:before, .hamburger-active .hamburger-icon:after {
background: #fff;}
.hamburger-menu {
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	left: -4000px;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
	background: rgba(0,0,0,0.9);
	z-index: 9;
	top: 0;
  right: 0;
  padding: 20px;
}
.hamburger-active .hamburger-menu {
	left: 0;
	overflow-y: auto;
}
.m-menu-list-item {
	margin-bottom: 25px;
}
.m-menu-list {
	padding-top: 50px;
	text-align: center;
	padding-left: 0;
}
.m-phone-link {
	text-align: center;
	display: block;
	width: 100%;
	padding: 25px 0;
}
.m-btn-call {
	color: #fff !important;
	width: 100%;
	display: block;
	margin-left: 0 !important;
	text-align: center;
	padding: 18px 0;
	margin-top: 25px;
}